.VPImage.logo {
  height: 34px;
}

:root {
  --vp-c-brand: #d97706;
  --vp-c-brand-light: #EF8206;
  --vp-c-brand-dark: #C76C05;
}

.vp-doc th {
  text-align: left;
}

.vp-doc th, .vp-doc td {
  padding: 6px 10px;
}